.del_btn{
    background-color: #fd4848;
    color: black;
    padding: 1px 15px;
    border-radius: 6px;
}
.edit_btn{
    background-color: #ffac1b;
    color: black;
    padding: 1px 15px;
    border-radius: 6px;
}


